<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <h1>Express 
      <span>API</span>
      <span id="ep">endpoints</span>
    </h1>
    <div>
      <p>POST /items</p>
      <p>GET /items</p>
      <p>GET /items/:id</p>
      <p>PUT /items/:id</p>
      <p>DELETE /items/:id</p>
    </div>
  </body>
</html>